<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script" />
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network" from="">
                <network defaultCredentials="false" host="smtp.gmail.com" password="Loll@0404" port="587" userName="orcamentolollapaoladecora@gmail.com" />
                <specifiedPickupDirectory pickupDirectoryLocation="C:\Users\carla\OneDrive\Documentos" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
